<section id="services" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About me</h2>
        <h3 class="section-subheading text-muted">Hey! I am Rahul Agarwal</h3>
        <p class="text-muted">I am a Junior Associate(Technology) at
          <a style="text-decoration:none" href="http://www.nagarro.com/" target="_blank">NAGARRO</a>
          and I am <br>currently working on Java Technology<br>
          <a style="text-decoration:none" class="page-scroll" href="#contact">Connect</a> with me.</p><p>
      </p></div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-6">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">&lt;coder&gt;</h3>
        <p class="text-muted">Full Stack developer having experience in Java,Dot Net,HTML,CSS,JS,Node Js,Angular Js Technologies.<br>I focus on writing clean,elegant and efficient code.</p>
      </div>
      <div class="col-md-6">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
        <h3 class="service-heading">Designer <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i></h3>
        <p class="text-muted">Love to design webpages<br>Likes to keep my code clean and utilized</p>
      </div>


    </div>
  </div>
</section>
